/* <div class="container document-container"> */
/* <div class="documentContent"> */

.document-container{
    display: flex;
    position: relative;
    justify-content: center;
    overflow-y: auto;
    background-color: #f2f2f2;
    border: 1px solid hsl(0, 0%, 77%);
    max-height: 700px;
}
.document-container .document{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    justify-content: center;
}
.document-content{
    width: calc(21cm + 2px);
    min-height: calc(29.7cm + 2px);
    height: fit-content;
    padding: 3cm 1.5cm 1.5cm 2cm;
    border: 1px hsl( 0, 0%, 82.7% ) solid;
    background-color: #fff;
    box-shadow: 0 0 5px hsla( 0, 0%, 0%, .1 );
    box-sizing: border-box;
}
.document-content .ck-table-resized{
    width: inherit;
    height: inherit;
}
figure.table{
    margin-bottom : 0;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0;
}