<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="com.dna.hiveworks.model.dto.Employee" alias="employee"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Schedule" alias="schedule"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Department" alias="department"/>
		<typeAlias type="com.dna.hiveworks.model.dto.salary.Salary" alias="salary"/>
		<typeAlias type="com.dna.hiveworks.model.dto.salary.Dedution" alias="dedution"/>
	</typeAliases>
</configuration>
