<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.dna.hiveworks.model.dto.Employee" alias="employee"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Schedule" alias="schedule"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Department" alias="department"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Board" alias="board"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Uploadfile" alias="uploadfile"/>
		<typeAlias type="com.dna.hiveworks.model.dto.salary.Salary" alias="salary"/>
		<typeAlias type="com.dna.hiveworks.model.dto.salary.Dedution" alias="dedution"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Vacation" alias="vacation"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Work" alias="work"/>
		<typeAlias type="com.dna.hiveworks.model.dto.WorkRealtime" alias="workRealtime"/>
		<typeAlias type="com.dna.hiveworks.model.dto.salary.PositionPay" alias="positionpay"/>
		<typeAlias type="com.dna.hiveworks.model.dto.salary.Dedution" alias="dedution"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Vacation" alias="vacation"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Work" alias="work"/>
		<typeAlias type="com.dna.hiveworks.model.dto.edoc.ElectronicDocument" alias="edoc"/>
		<typeAlias type="com.dna.hiveworks.model.dto.edoc.ElectronicDocumentList" alias="edocList"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Resource" alias="resource"/>
		<typeAlias type="com.dna.hiveworks.model.dto.edoc.ElectronicDocumentSample" alias="edocSample"/>
		<typeAlias type="com.dna.hiveworks.model.dto.edoc.ElectronicDocumentApproval" alias="edocApproval"/>
		<typeAlias type="com.dna.hiveworks.model.dto.edoc.ElectronicDocumentAttachFile" alias="edocAttachFile"/>
		<typeAlias type="com.dna.hiveworks.model.dto.edoc.ElectronicDocumentComment" alias="edocComment"/>
		<typeAlias type="com.dna.hiveworks.model.dto.edoc.ElectronicDocumentHistory" alias="edocHistory"/>
		<typeAlias type="com.dna.hiveworks.model.dto.edoc.ElectronicDocumentReference" alias="edocReference"/>
		<typeAlias type="com.dna.hiveworks.model.dto.Account" alias="account"/>
		<typeAlias type="com.dna.hiveworks.model.dto.InvitationEmp" alias="InvitationEmp"/>
		
		
	</typeAliases>
	
	<typeHandlers>
		<package name="com.dna.hiveworks.common.typehandler"/>
	</typeHandlers>
</configuration>
