<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
    <resultMap type="board" id="boardMap">
        <id column="BOARD_NO" property="boardNo"/>
        <result column="emp_no" property="emp_no"/>
        <result column="emp_name" property="emp_name"/>
        <result column="BOARD_TITLE" property="boardTitle" />
        <result column="BOARD_CONTENT" property="boardContent"/>
        <result column="BOARD_COUNT" property="boardCount"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="CREATER" property="creater"/>
        <result column="MODIFIER" property="modifier"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
        <result column="BOARD_TYPE" property="boardType"/>
	        <collection property="files" ofType="uploadfile">
				<id column="UPLOADFILE_NO" property="uploadfileNo"/>
				<result column="BOARD_NO" property="boardNo"/>
				<result column="ORIGINAL_FILENAME" property="originalFileName"/>
				<result column="RENAME_FILE" property="reNamefile"/>
			</collection>
    </resultMap>
    <select id="selectBoardByNo" parameterType="_int" resultMap="boardMap">
		 SELECT * FROM TBL_BOARD
		 LEFT JOIN TBL_UPLOADFILE USING(BOARD_NO)
		 WHERE BOARD_NO = #{boardNo}
	</select>
    <select id="selectAllBoard" parameterType="string" resultMap="boardMap">
        SELECT * FROM TBL_BOARD 
        LEFT JOIN TBL_UPLOADFILE USING(BOARD_NO)
    	LEFT JOIN TBL_EMPLOYEE ON TBL_BOARD.CREATER = TBL_EMPLOYEE.EMP_NO
        WHERE BOARD_TYPE = #{boardType}
    </select>
    <update id="updateBoardCount" parameterType="int">
    	UPDATE TBL_BOARD SET BOARD_COUNT = BOARD_COUNT + 1 WHERE BOARD_NO = #{boardNo}
	</update>
    <insert id="insertBoard" parameterType="board">
    	<selectKey keyProperty="boardNo" resultType="int" keyColumn="BOARD_NO" order="BEFORE">
    		SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
    	</selectKey>
    	INSERT INTO TBL_BOARD VALUES 
		(#{boardNo},#{boardType},#{boardContent},NULL,NULL,#{boardTitle},#{creater},NULL,DEFAULT,DEFAULT,'Y')
    </insert>
    <update id="boardUpdate" parameterType="board">
	    UPDATE TBL_BOARD SET
	    BOARD_CONTENT = #{boardContent},
	    BOARD_TITLE = #{boardTitle}
	    WHERE BOARD_NO = #{boardNo}
	</update>
	<delete id="boardDelete" parameterType="board">
		DELETE FROM TBL_BOARD WHERE BOARD_NO = #{boardNo}
	</delete>
	<insert id="insertUploadfile" parameterType="uploadfile">
    INSERT INTO TBL_UPLOADFILE
    VALUES (SEQ_UPLOADFILE_NO.NEXTVAL, #{boardNo}, #{originalFileName}, #{reNamefile})
</insert>
</mapper>