<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/DTD/mybatis-3-mapper.dtd" >
<mapper namespace="edoc">
  <resultMap type="edocList" id="edocListMap">
  	<result column="edoc_no" property="edocNo"/>
  	<result column="edoc_title" property="edocTitle"/>
  	<result column="emp_name" property="empName"/>
  	<result column="create_date" property="createDate"/>
  	<result column="finalized_date" property="finalizedDate"/>
  	<result column="edoc_dot_code" property="edocDotCode"/>
  	<result column="edoc_status" property="edocStatus"/>
  </resultMap>
  <resultMap type="edocSample" id="edocSampleMap">
  	<id column="sample_no" property="sampleNo"/>
  	<result column="sample_dot_code" property="sampleDotCode"/>
  	<result column="SAMPLE_NAME" property="sampleName"/>
  	<result column="SAMPLE_DESC" property="sampleDesc"/>
  	<result column="SAMPLE_CONTENT" property="sampleContent"/>
  	<result column="CREATER" property="creater"/>
  	<result column="CREATE_DATE" property="createDate"/>
  	<result column="MODIFIER" property="modifier"/>
  	<result column="MODIFY_DATE" property="modifyDate"/>
  	<result column="USE_YN" property="useYn"/>
  </resultMap>
  
  <select id="getEdocList" parameterType="hashmap" resultMap="edocListMap">
	SELECT D.EDOC_NO, D.EDOC_TITLE, DE.EMP_NAME, D.CREATE_DATE, D.EDOC_DOT_CODE, FN_EDOC_STATUS(E.EMP_NO, D.CREATER, A.APRVL_STATUS, D.EDOC_STATUS) AS EDOC_STATUS
	FROM TBL_EDOC D JOIN TBL_EDOC_APPROVAL A ON D.EDOC_NO = A.APRVL_EDOC_NO
                JOIN TBL_EMPLOYEE E ON A.APRVL_EMP_NO = E.EMP_NO
                JOIN TBL_EMPLOYEE DE ON D.CREATER = DE.EMP_NO
	WHERE D.USE_YN = 'Y' AND D.EDOC_STATUS = 'DST100'
    	AND E.EMP_ID = #{emp_id}
    <if test="status != null">
    	<choose>
    		<when test='status.equals("WAIT")'>
    			AND A.APRVL_STATUS = 'W'
    		</when>
    		<when test='status.equals("EXPECT")'>
    			AND A.APRVL_STATUS = 'P'
    		</when>
    		<when test='status.equals("PROCESS")'>
    			AND A.APRVL_STATUS = 'C'
    		</when>
    	</choose>
    </if>
  </select>
  <select id="getEdocBox" parameterType="hashmap" resultMap="edocListMap">
	SELECT D.EDOC_NO, D.EDOC_TITLE, DE.EMP_NAME, D.CREATE_DATE, D.FINALIZED_DATE, D.EDOC_DOT_CODE, FN_EDOC_STATUS(E.EMP_NO, D.CREATER, A.APRVL_STATUS, D.EDOC_STATUS) AS EDOC_STATUS
	FROM TBL_EDOC D JOIN TBL_EDOC_APPROVAL A ON D.EDOC_NO = A.APRVL_EDOC_NO
                JOIN TBL_EMPLOYEE E ON A.APRVL_EMP_NO = E.EMP_NO
                JOIN TBL_EMPLOYEE DE ON D.CREATER = DE.EMP_NO
	WHERE D.USE_YN = 'Y' AND NOT(D.EDOC_STATUS = 'DST100')
    	AND E.EMP_ID = #{emp_id}
  </select>
  
  <update id="processApprove" parameterType="hashmap" statementType="CALLABLE">
  	{
  		CALL PROC_APPROVAL(
  			#{i_doc_no},
  			#{i_empid},
  			#{i_apv_code},
  			#{i_apv_com},
  			#{salary,mode=OUT, jdbcType=VARCHAR},
  			#{o_rtn_msg,mode=OUT, jdbcType=VARCHAR}
  		)
  	}
  </update>
  
  <select id="getEmpData" resultType="hashmap" parameterType="int">
  	SELECT E.EMP_NAME AS EMPNAME, D.DEPT_NAME AS DEPTNAME, C.CODE_NAME AS JOBNAME, E.EMP_NO AS EMPNO
  	FROM TBL_EMPLOYEE E LEFT JOIN TBL_DEPARTMENT D ON E.DEPT_CODE = D.DEPT_CODE
  						LEFT JOIN TBL_CODE C ON E.POSITION_CODE = C.CODE_NO
  	WHERE E.EMP_NO = #{empNo}
  </select>
  
  <select id="getEdocSampleList" resultMap="edocSampleMap" parameterType="com.dna.hiveworks.model.code.DotCode">
  	SELECT SAMPLE_NO, SAMPLE_NAME FROM TBL_EDOC_SAMPLE WHERE SAMPLE_DOT_CODE = #{edocDotCode}
  </select>
  
</mapper>
