<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employee">
	<resultMap id="empMap" type="employee">
		<id property="emp_no" column="emp_no"/>
		<result property="dept_code" column="dept_code"/>
		<result property="dept_name" column="dept_name"/>
		<result property="position_code" column="position_code"/>
		<result property="position_name" column="position_name"/>
		<result property="pp_add_pay" column="pp_add_pay"/>
		<result property="job_code" column="job_code"/>
		<result property="job_name" column="job_name"/>
		<result property="work_type_code" column="work_type_code"/>
		<result property="work_status" column="work_status"/>
		<result property="work_pattern" column="work_pattern"/>
		<result property="aut_code" column="aut_code"/>
		<result property="emp_id" column="emp_id"/>
		<result property="emp_pw" column="emp_pw"/>
		<result property="emp_name" column="emp_name"/>
		<result property="emp_phone" column="emp_phone"/>
		<result property="emp_cellphone" column="emp_cellphone"/>
		<result property="emp_email" column="emp_email"/>
		<result property="emp_postcode" column="emp_postcode"/>
		<result property="emp_address" column="emp_address"/>
		<result property="emp_address_detail" column="emp_address_detail"/>
		<result property="emp_resident_no" column="emp_resident_no"/>
		<result property="emp_birth_date" column="emp_birth_date"/>
		<result property="emp_memo" column="emp_memo"/>
		<result property="emp_hired_date" column="emp_hired_date"/>
		<result property="emp_retired_date" column="emp_retired_date"/>
		<result property="use_yn" column="use_yn"/>
	</resultMap>
	
	<select id="selectEmployeeById" resultMap="empMap" parameterType="string">
		SELECT * FROM TBL_EMPLOYEE WHERE EMP_ID=#{emp_id}
	</select>
	
	<select id="selectEmployeesListAll" resultMap="empMap">
		SELECT D1.*, C.*,C.CODE_NAME AS JOB_NAME, O.CODE_NAME AS POSITION_NAME, E.*,EXTRACT(YEAR FROM TO_DATE(SUBSTR(EMP_RESIDENT_NO,1,2),'RR')) || '년' || SUBSTR(EMP_RESIDENT_NO,3,INSTR(EMP_RESIDENT_NO,'-')-5) || '월' || SUBSTR(EMP_RESIDENT_NO,5,2)  || '일' AS EMP_BIRTH_DATE
        FROM (SELECT * FROM TBL_EMPLOYEE) E
        JOIN TBL_DEPARTMENT D1 ON D1.DEPT_CODE=E.DEPT_CODE 
        JOIN TBL_CODE C ON E.JOB_CODE = C.CODE_NO
        JOIN TBL_CODE O ON E.POSITION_CODE = O.CODE_NO
	</select>
	<select id="searchEmployeesByKeyword" parameterType="hashmap" resultMap="empMap">
		SELECT D1.*, C.*,C.CODE_NAME AS JOB_NAME, O.CODE_NAME AS POSITION_NAME, E.*,EXTRACT(YEAR FROM TO_DATE(SUBSTR(EMP_RESIDENT_NO,1,2),'RR')) || '년' || SUBSTR(EMP_RESIDENT_NO,3,INSTR(EMP_RESIDENT_NO,'-')-5) || '월' || SUBSTR(EMP_RESIDENT_NO,5,2)  || '일' AS EMP_BIRTH_DATE
        , P.*
        FROM (SELECT * FROM TBL_EMPLOYEE) E
        JOIN TBL_DEPARTMENT D1 ON D1.DEPT_CODE=E.DEPT_CODE 
        JOIN TBL_CODE C ON E.JOB_CODE = C.CODE_NO
        JOIN TBL_CODE O ON E.POSITION_CODE = O.CODE_NO
        LEFT JOIN TBL_POSITION_PAY P ON E.POSITION_CODE = P.POS_CODE
		
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="type !=null and type !='' and keyword !=null and keyword !=''">
				E.${type} = #{keyword}
			</if>
		</trim>
	</select>
	
	<select id="selectDeptList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS deptCode, CODE_NAME AS deptName
		FROM TBL_CODE WHERE CODE_NO LIKE 'DEP%'
	</select>
	
	<select id="selectPositionList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS positionCode, CODE_NAME AS positionName
		FROM TBL_CODE WHERE CODE_NO LIKE 'POS%'
	</select>
	
	<select id="selectJobList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS jobCode, CODE_NAME AS jobName
		FROM TBL_CODE WHERE CODE_NO LIKE 'JOB%'
	</select>
	
	<select id="selectWorkStatusList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS workStatusCode, CODE_NAME AS workStatusName
		FROM TBL_CODE WHERE CODE_NO LIKE 'WOP%'
	</select>
	
	<select id="selectWorkPatternList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS workPatternCode, CODE_NAME AS workPatternName
		FROM TBL_CODE WHERE CODE_NO LIKE 'WOS%'
	</select>
	
	<select id="selectWorkTypeList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS workTypeCode, CODE_NAME AS workTypeName
		FROM TBL_CODE WHERE CODE_NO LIKE 'WOT%'
	</select>
	
	<insert id="insertEmployee" parameterType="employee">
		<selectKey keyProperty="emp_no" keyColumn="EMP_NO" resultType="_int" order="BEFORE">
			SELECT SEQ_EMP_NO.NEXTVAL AS EMP_NO FROM DUAL
		</selectKey>
		INSERT INTO TBL_EMPLOYEE
		(
			EMP_NO,
			DEPT_CODE,
			POSITION_CODE,
			JOB_CODE,
			WORK_TYPE_CODE,
			WORK_STATUS,
			WORK_PATTTERN,
			EMP_ID,
			EMP_NAME,
			EMP_PHONE,
			EMP_CELLPHONE,
			EMP_EMAIL,
			EMP_POSTCODE,
			EMP_ADDRESS,
			EMP_ADDRESS_DETAIL,
			EMP_RESIDENT_NO,
			EMP_MEMO,
			EMP_HIRED_DATE,
			EMP_MEMO,
			EMP_AUTO_FILENAME,
			EMP_PROFILE_ORI_NAME,
			EMP_PROFILE_RE_NAME,
			CREATER,
			CREATE_DATE,
			MODIFIER,
			MODIFY_DATE
		) 
		VALUES
		(#{emp_no},#{dept_code},#{position_code},#{job_code},#{work_type_code},
		#{work_status},#{work_pattern},#{aut_code},#{emp_id},#{emp_pw},#{emp_name},#{emp_phone},#{emp_cellphone},#{emp_email},
		#{emp_address},#{emp_resident_no},#{emp_memo},#{emp_hired_date},#{emp_retired_date},DEFAULT,#{emp_auto_fileName},#{creater},SYSDATE,NULL,NULL,DEFAULT,#{emp_profile_ori_name},#{emp_profile_re_name},#{emp_postcode},#{emp_address_detail})
	</insert>
	<insert id="insertAccount" parameterType="account">
		INSERT INTO TBL_ACCOUNT VALUES
		(#{ac_no},#{emp_no},#{ac_bank},#{ac_name},DEFAULT)
	</insert>
	
</mapper>
