<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employee">
	<resultMap id="empMap" type="employee">
		<id property="emp_no" column="emp_no"/>
		<result property="dept_code" column="dept_code"/>
		<result property="dept_name" column="dept_name"/>
		<result property="position_code" column="position_code"/>
		<result property="position_name" column="position_name"/>
		<result property="pp_add_pay" column="pp_add_pay"/>
		<result property="job_code" column="job_code"/>
		<result property="job_name" column="job_name"/>
		<result property="work_type_code" column="work_type_code"/>
		<result property="work_type_name" column="work_type_name"/>
		<result property="work_status" column="work_status"/>
		<result property="work_status_name" column="work_status_name"/>
		<result property="work_pattern" column="work_pattern"/>
		<result property="work_pattern_name" column="work_pattern_name"/>
		<result property="aut_code" column="aut_code"/>
		<result property="aut_name" column="aut_name"/>
		<result property="emp_id" column="emp_id"/>
		<result property="emp_pw" column="emp_pw"/>
		<result property="emp_name" column="emp_name"/>
		<result property="emp_phone" column="emp_phone"/>
		<result property="emp_cellphone" column="emp_cellphone"/>
		<result property="emp_email" column="emp_email"/>
		<result property="emp_postcode" column="emp_postcode"/>
		<result property="emp_address" column="emp_address"/>
		<result property="emp_address_detail" column="emp_address_detail"/>
		<result property="emp_resident_no" column="emp_resident_no"/>
		<result property="emp_birth_date" column="emp_birth_date"/>
		<result property="emp_memo" column="emp_memo"/>
		<result property="emp_hired_date" column="emp_hired_date"/>
		<result property="emp_retired_date" column="emp_retired_date"/>
		<result property="use_yn" column="use_yn"/>
		<result property="use_yn" column="use_yn"/>
		<result property="creater" column="creater"/>
		<result property="create_date" column="create_date"/>
		<result property="modifier" column="modifier"/>
		<result property="modify_date" column="modify_date"/>
		<result property="emp_profile_ori_name" column="emp_profile_ori_name"/>
		<result property="emp_profile_re_name" column="emp_profile_re_name"/>
		<collection property="work" resultMap="work.workMap"/>
	
	</resultMap>
	<resultMap type="account" id="acMap">
		<result property="ac_no" column="ac_no"/>
		<result property="emp_no" column="emp_no"/>
		<result property="ac_bank" column="ac_bank"/>
		<result property="ac_name" column="ac_name"/>
		<result property="use_yn" column="use_yn"/>
	</resultMap>
	
	<select id="selectEmployeeById" resultMap="empMap" parameterType="string">
		SELECT * FROM TBL_EMPLOYEE WHERE EMP_ID=#{emp_id}
	</select>
	
	<select id="selectEmployeesListAll" resultMap="empMap">
		SELECT D1.*, C.*,C.CODE_NAME AS JOB_NAME, O.CODE_NAME AS POSITION_NAME, 
			E.*,EXTRACT(YEAR FROM TO_DATE(SUBSTR(EMP_RESIDENT_NO,1,2),'RR')) || '년' || SUBSTR(EMP_RESIDENT_NO,3,INSTR(EMP_RESIDENT_NO,'-')-5) || '월' || SUBSTR(EMP_RESIDENT_NO,5,2)  || '일' AS EMP_BIRTH_DATE,
			WOT.CODE_NAME AS WORK_TYPE_NAME,
			WOS.CODE_NAME AS WORK_STATUS_NAME,
			WOP.CODE_NAME AS WORK_PATTERN_NAME,
			AUT.CODE_NAME AS AUT_NAME
        FROM (SELECT * FROM TBL_EMPLOYEE) E
        	LEFT JOIN TBL_DEPARTMENT D1 ON D1.DEPT_CODE=E.DEPT_CODE 
	       	LEFT JOIN TBL_CODE C ON E.JOB_CODE = C.CODE_NO
	       	LEFT JOIN TBL_CODE O ON E.POSITION_CODE = O.CODE_NO
           	LEFT JOIN TBL_CODE WOT ON E.WORK_TYPE_CODE = WOT.CODE_NO
           	LEFT JOIN TBL_CODE WOS ON E.WORK_STATUS = WOS.CODE_NO
           	LEFT JOIN TBL_CODE WOP ON E.WORK_PATTERN = WOP.CODE_NO
           	LEFT JOIN TBL_CODE AUT ON E.AUT_CODE = AUT.CODE_NO
		WHERE E.USE_YN = 'Y'
		ORDER BY E.EMP_NO DESC
	</select>
	<select id="searchEmployeesByKeyword" parameterType="hashmap" resultMap="empMap">
		SELECT D1.*, C.*,C.CODE_NAME AS JOB_NAME, O.CODE_NAME AS POSITION_NAME, E.*,EXTRACT(YEAR FROM TO_DATE(SUBSTR(EMP_RESIDENT_NO,1,2),'RR')) || '년' || SUBSTR(EMP_RESIDENT_NO,3,INSTR(EMP_RESIDENT_NO,'-')-5) || '월' || SUBSTR(EMP_RESIDENT_NO,5,2)  || '일' AS EMP_BIRTH_DATE
        , P.*
        FROM (SELECT * FROM TBL_EMPLOYEE) E
        LEFT JOIN TBL_DEPARTMENT D1 ON D1.DEPT_CODE=E.DEPT_CODE 
        LEFT JOIN TBL_CODE C ON E.JOB_CODE = C.CODE_NO
        LEFT JOIN TBL_CODE O ON E.POSITION_CODE = O.CODE_NO
        LEFT JOIN TBL_POSITION_PAY P ON E.POSITION_CODE = P.POS_CODE
		
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="type !=null and type !='' and keyword !=null and keyword !=''">
				E.${type} = #{keyword}
			</if>
		</trim>
	</select>
	
	<select id="selectDeptList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS deptCode, CODE_NAME AS deptName
		FROM TBL_CODE WHERE CODE_NO LIKE 'DEP%' AND USE_YN ='Y'
	</select>
	
	<select id="selectPositionList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS positionCode, CODE_NAME AS positionName
		FROM TBL_CODE WHERE CODE_NO LIKE 'POS%' AND USE_YN ='Y'
	</select>
	
	<select id="selectJobList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS jobCode, CODE_NAME AS jobName
		FROM TBL_CODE WHERE CODE_NO LIKE 'JOB%' AND USE_YN ='Y'
	</select>
	
	<select id="selectWorkStatusList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS workStatusCode, CODE_NAME AS workStatusName
		FROM TBL_CODE WHERE CODE_NO LIKE 'WOS%' AND USE_YN ='Y'
	</select>
	
	<select id="selectWorkPatternList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS workPatternCode, CODE_NAME AS workPatternName
		FROM TBL_CODE WHERE CODE_NO LIKE 'WOP%' AND USE_YN ='Y'
	</select>
	
	<select id="selectWorkTypeList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS workTypeCode, CODE_NAME AS workTypeName
		FROM TBL_CODE WHERE CODE_NO LIKE 'WOT%' AND USE_YN ='Y'
	</select>
	
	<insert id="insertEmployee" parameterType="employee">
		<selectKey keyProperty="emp_no" keyColumn="EMP_NO" resultType="_int" order="BEFORE">
			SELECT SEQ_EMP_NO.NEXTVAL AS EMP_NO FROM DUAL
		</selectKey>
		INSERT INTO TBL_EMPLOYEE
		(
			EMP_NO,
			DEPT_CODE,
			POSITION_CODE,
			JOB_CODE,
			WORK_TYPE_CODE,
			WORK_STATUS,
			WORK_PATTERN,
			EMP_ID,
            EMP_PW,
			EMP_NAME,
			EMP_PHONE,
			EMP_CELLPHONE,
			EMP_EMAIL,
			EMP_POSTCODE,
			EMP_ADDRESS,
			EMP_ADDRESS_DETAIL,
			EMP_RESIDENT_NO,
			EMP_MEMO,
			EMP_HIRED_DATE,
			EMP_AUTO_FILENAME,
			EMP_PROFILE_ORI_NAME,
			EMP_PROFILE_RE_NAME,
			CREATER,
			CREATE_DATE,
			MODIFIER,
			MODIFY_DATE
		) VALUES(
            #{emp_no},
            #{dept_code},#{position_code},#{job_code},#{work_type_code},#{work_status},#{work_pattern},#{emp_id},#{emp_pw},
            #{emp_name},#{emp_phone},#{emp_cellphone},#{emp_email},#{emp_postcode},#{emp_address},#{emp_address_detail},#{emp_resident_no},
            #{emp_memo},#{emp_hired_date},#{emp_auto_fileName},#{emp_profile_ori_name},#{emp_profile_re_name},${creater},SYSDATE,0,NULL)
	</insert>
	<insert id="insertAccount" parameterType="account">
		INSERT INTO TBL_ACCOUNT VALUES
		(#{ac_no},#{emp_no},#{ac_bank},#{ac_name},DEFAULT)
	</insert>
	
	<select id="selectEmployeeByEmpNo" parameterType="_int" resultMap="empMap">
		SELECT E.*, D.*, J.CODE_NAME AS "job_name", P.CODE_NAME AS "position_name", WT.CODE_NAME AS "work_type_name", WS.CODE_NAME AS "work_status_name", WP.CODE_NAME AS "work_pattern_name"  
		    FROM TBL_EMPLOYEE E
		    JOIN TBL_DEPARTMENT D ON E.DEPT_CODE = D.DEPT_CODE
		    JOIN TBL_CODE J ON E.JOB_CODE = J.CODE_NO
		    JOIN TBL_CODE P ON E.POSITION_CODE = P.CODE_NO
		    JOIN TBL_CODE WT ON E.WORK_TYPE_CODE = WT.CODE_NO
		    JOIN TBL_CODE WS ON E.WORK_STATUS = WS.CODE_NO
		    JOIN TBL_CODE WP ON E.WORK_PATTERN = WP.CODE_NO
		<if test="empNo !=null and empNo!=0 ">
			WHERE EMP_NO = ${empNo}
		</if>
	</select>
	<select id="selectAccountByEmpNo" parameterType="_int" resultMap="acMap">
		SELECT * FROM TBL_ACCOUNT
		<if test="empNo !=null and empNo!=0 ">
			WHERE EMP_NO = ${empNo}
		</if>
	</select>
	
	<select id="confirmEmployee" parameterType="hashmap" resultMap="empMap">
		SELECT * FROM TBL_EMPLOYEE
		<trim prefix="where" prefixOverrides="AND|OR">
			<if test="empId !=null and empId !=''">
				EMP_ID LIKE #{empId}
			</if>
		</trim>
	</select>
	<update id="updateEmployee" parameterType="employee">
		UPDATE TBL_EMPLOYEE SET
			DEPT_CODE = #{dept_code},
			POSITION_CODE = #{position_code},
			JOB_CODE = #{job_code},
			WORK_TYPE_CODE = #{work_type_code},
			WORK_STATUS = #{work_status},
			WORK_PATTERN = #{work_pattern},
			EMP_NAME = #{emp_name},
			EMP_PHONE = #{emp_phone},
			EMP_CELLPHONE = #{emp_cellphone},
			EMP_EMAIL = #{emp_email},
			EMP_POSTCODE = #{emp_postcode},
			EMP_ADDRESS = #{emp_address},
			EMP_ADDRESS_DETAIL = #{emp_address_detail},
			EMP_RESIDENT_NO = #{emp_resident_no},
			EMP_MEMO = #{emp_memo},
			EMP_HIRED_DATE = #{emp_hired_date},
			EMP_AUTO_FILENAME = #{emp_auto_fileName},
			<if test="emp_profile_ori_name !=null and emp_profile_ori_name !='' and emp_profile_re_name !=null and emp_profile_re_name !=''">
				EMP_PROFILE_ORI_NAME = #{emp_profile_ori_name},
				EMP_PROFILE_RE_NAME = #{emp_profile_re_name},			
			</if>
			MODIFIER =${modifier},
			MODIFY_DATE = SYSDATE
		WHERE EMP_NO = ${emp_no}
	</update>
	<update id="updateAccount" parameterType="account">
		UPDATE TBL_ACCOUNT SET AC_NO=#{ac_no}, AC_BANK=#{ac_bank}, AC_NAME=#{ac_name}
		WHERE EMP_NO = ${emp_no}
	</update>
	<update id="updatePassword" parameterType="hashmap">
		UPDATE TBL_EMPLOYEE SET EMP_PW = #{empPasswordNew}, MODIFIER=${modifier}, MODIFY_DATE=SYSDATE
		WHERE EMP_ID LIKE #{empId}
	</update>
	
	<delete id="deleteEmployee">
		UPDATE TBL_EMPLOYEE SET USE_YN='N'
		WHERE EMP_NO = ${emp_no}
	</delete>
	
	<delete id="deleteAccount">
		UPDATE TBL_ACCOUNT SET USE_YN='N'
		WHERE EMP_NO = ${emp_no}
	</delete>
	
	<select id="selectAuthorityList" parameterType="hashmap" resultType="hashmap">
		SELECT CODE_NO AS AUTCODE, CODE_NAME AS AUTNAME
		FROM TBL_CODE WHERE CODE_NO LIKE 'AUT%'
	</select>
	
	<update id="updateAuthorities" parameterType="hashmap" >
		UPDATE TBL_EMPLOYEE SET AUT_CODE = #{value}
		WHERE EMP_NO = ${empNo}
	</update>
	
	
	
</mapper>
