<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employee">
	<resultMap id="empMap" type="employee">
		<id property="emp_no" column="emp_no"/>
		<result property="dept_code" column="dept_name"/>
		<result property="position_code" column="position_code"/>
		<result property="job_code" column="code_name"/>
		<result property="work_type_code" column="work_type_code"/>
		<result property="work_status" column="work_status"/>
		<result property="work_pattern" column="work_pattern"/>
		<result property="aut_code" column="aut_code"/>
		<result property="emp_id" column="emp_id"/>
		<result property="emp_pw" column="emp_pw"/>
		<result property="emp_name" column="emp_name"/>
		<result property="emp_phone" column="emp_phone"/>
		<result property="emp_cellphone" column="emp_cellphone"/>
		<result property="emp_email" column="emp_email"/>
		<result property="emp_address" column="emp_address"/>
		<result property="emp_resident_no" column="emp_resident_no"/>
		<result property="emp_birth_date" column="emp_birth_date"/>
		<result property="emp_memo" column="emp_memo"/>
		<result property="emp_hired_date" column="emp_hired_date"/>
		<result property="emp_retired_date" column="emp_retired_date"/>
		<result property="use_yn" column="use_yn"/>
	</resultMap>
	
	<select id="selectEmployeeById" resultMap="empMap" parameterType="string">
		SELECT * FROM TBL_EMPLOYEE WHERE EMP_ID=#{emp_id}
	</select>
	
	<select id="selectEmployeesListAll" resultMap="empMap">
		SELECT * FROM TBL_EMPLOYEE
	</select>
	<select id="searchEmployeesByKeyword" parameterType="string" resultMap="empMap">
		SELECT * FROM TBL_EMPLOYEE
		<if test="keyword !=null and keyword !=''">
		WHERE EMP_NO = #{keyword}
		</if>
	</select>
	
</mapper>
