<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="message">
	<select id ="msgList" resultType="message">
		SELECT
			MSG_NO,
			MSG_SENDER,
			MSG_SENDER_NAME,
			MSG_RECEIVER,
			MSG_CATEGORY_NO,
			MSG_CATEGORY_NAME,
			MSG_TITLE,
			MSG_CONTENT,
			TO_CHAR(MSG_DATE, 'YYYY-MM-DD HH24:MI:SS') AS MSG_DATE,
			MSG_READ_YN,
			MSG_DELETE,
			MSG_FILE_ORINAME,
			MSG_FILE_RENAME,
			MSG_MARKED_YN,
			MSG_FILE_SIZE
		FROM TBL_MESSAGE
		WHERE MSG_RECEIVER = ${empNo}
	</select>
	
	<update id="starMark">
		UPDATE TBL_MESSAGE SET MSG_MARKED_YN = 'Y' WHERE MSG_NO = #{msgNo}
	</update>

	<update id="starUnmark">
		UPDATE TBL_MESSAGE SET MSG_MARKED_YN = 'N' WHERE MSG_NO = #{msgNo}
	</update>

 	<select id="receiverNames" resultType="java.lang.String">
		SELECT EMP_NAME 
		FROM TBL_EMPLOYEE
		WHERE EMP_NO IN 
	    <foreach collection="list" item="item" open="(" close=")" separator=",">
	        ${item}
	    </foreach>
	</select>

	<select id="categoryName" parameterType="string" resultType="string">
		SELECT CODE_NAME FROM TBL_CODE WHERE CODE_NO = #{cateNo}
	</select>

	<insert id="sendMsg">
	    INSERT INTO TBL_MESSAGE VALUES(
	        SEQ_MSG_NO.NEXTVAL, ${senderEmpNo}, ${receiverEmpNo}, #{msgCategory}, #{msgCategoryName},
	        #{msgTitle}, #{msgContent}, DEFAULT, 'N', 'N', #{fileOriname}, #{fileRename},'N',
	        #{fileSize}, (SELECT EMP_NAME FROM TBL_EMPLOYEE WHERE EMP_NO = ${senderEmpNo}),
	        #{receiverName}
	    )
	</insert>
</mapper>
