<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="schedule">
	<resultMap id="scheduleMap" type="schedule">
		<result property="calSubject" column="cal_subject"/>
		<result property="calStartDate" column="cal_start_date"/>
		<result property="calEndDate" column="cal_end_date"/>
		<result property="calColor" column="cal_color"/>
	</resultMap>
	
	<insert id="insertSchedule" parameterType="schedule">
		 INSERT INTO TBL_CALENDAR VALUES (SEQ_CAL_NO.NEXTVAL,#{calCode},0000111,#{calStartDate},#{calEndDate},#{calSubject},#{calContent},#{calColor},DEFAULT,#{reminderYn},#{calAlldayYn},#{calStatus},DEFAULT,DEFAULT,0000111,0000111,DEFAULT)
	</insert>
	<insert id="reserveResource" parameterType="schedule">
		 INSERT INTO TBL_CALENDAR VALUES (SEQ_CAL_NO.NEXTVAL,#{calCode},0000111,#{calStartDate},#{calEndDate},NULL,NULL,#{calColor},DEFAULT,#{reminderYn},NULL,#{calStatus},DEFAULT,DEFAULT,0000111,0000111,DEFAULT)
	</insert>
	<insert id="insertResource" parameterType="resource">
		INSERT INTO TBL_RESOUCE VALUES (#{resourceNo},#{resourceType},#{resourceName},#{resourceMax},DEFAULT,DEFAULT,3333,3333,DEFAULT,NULL,NULL,DEFAULT)
	</insert>
	<select id="selectScheduleAll" resultMap="scheduleMap">
		SELECT * FROM TBL_CALENDAR
	</select>
</mapper>
