<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="survey">
    <resultMap type="survey" id="surveyMap">
        <id column="SURVEY_NO" property="surveyNo"/>
        <result column="SURVEY_TITLE" property="surveyTitle" />
        <result column="SURVEY_START" property="surveyStart" />
        <result column="SURVEY_END" property="surveyEnd" />
        <result column="CREATER" property="creater"/>
        <result column="MODIFIER" property="modifier"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="MODIFY_DATE" property="modifyDate"/>
        <result column="USE_YN" property="useYN"/>
        <result column="SURVEY_TYPE" property="surveyType"/>
    </resultMap>

    <select id="selectSurveyByNo" parameterType="_int" resultMap="surveyMap">
        SELECT * FROM TBL_SURVEY
        WHERE SURVEY_NO = #{surveyNo}      
    </select>

    <select id="selectAllSurvey" resultMap="surveyMap">
        SELECT * FROM TBL_SURVEY
    </select>
	
    <insert id="insertSurvey" parameterType="survey">
        INSERT INTO TBL_SURVEY
        VALUES (SEQ_SURVEY_NO.NEXTVAL, #{surveyTitle}, #{surveyStart}, #{surveyEnd}, NULL, NULL, DEFAULT, DEFAULT, 'Y',#{surveyType})
    </insert>
</mapper>
