<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="vacation">
	<resultMap id="vacationMap" type="vacation">
		<id property="vacNo" column="VAC_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="vacCount" column="VAC_COUNT"/>
		<result property="vacUsed" column="VAC_USED"/>
		<result property="vacOption" column="VAC_OPTION"/>
		<result property="creater" column="CREATER"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifier" column="MODIFIER"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="useYN" column="USE_TN"/>
		
		<result property="edocNo" column="EDOC_NO"/>
		<result property="vacPermit" column="VAC_PERMIT"/>
	</resultMap>
	
	<select id="selectVacationListAll" resultMap="vacationMap">
		SELECT * FROM TBL_VACATION WHERE EMP_NO = 1
	</select>
	
	<select id="selectVacationByNo" parameterType="_int" 
		resultMap="vacationMap">
		SELECT * FROM TBL_VACATION WHERE EMP_NO = #{empNo} ORDER BY MODIFY_DATE DESC
	</select>
	
	<insert id="insertVacation" parameterType="vacation" >
		INSERT INTO TBL_VACATION VALUES (SEQ_VAC_NO.NEXTVAL,#{empNo},
		#{vacCount},1,#{vacOption},#{empNo},#{createDate},#{empNo},DEFAULT,'Y','#{edocNo}','대기')
	</insert>
	
	<update id="updateVacation" parameterType="Map" >
		UPDATE TBL_VACATION_BYYEAR SET 
		VAC_LEFT = VAC_LEFT - #{vacCount}, 
		MODIFIER = #{empNo}, MODIFY_DATE = SYSDATE
		WHERE EMP_NO = #{empNo}
	</update>
	
	<!-- 잔여연차 가져오기 -->
	<select id="selectLeftVacation" parameterType="_int" resultType="Double">
		SELECT VAC_LEFT FROM TBL_VACATION_BYYEAR WHERE EMP_NO = #{empNo}
	</select>
	
	<!-- tbl_vacation의 vac_permit 을 '승인'으로 바꾸기 -->
	<update id="confirmVacation" parameterType="string">
		UPDATE TBL_VACATION SET
		VAC_PERMIT = '승인'
		WHERE EDOC_NO = #{edocNo}
	</update>
	<!-- tbl_vacation의 vac_permit 을 '반려'로 바꾸기 -->
	<update id="revokeVacation" parameterType="string">
		UPDATE TBL_VACATION SET
		VAC_PERMIT = '반려'
		WHERE EDOC_NO = #{edocNo}
	</update>
	
	<select id="selectVacation" parameterType="string" resultMap="vacationMap">
		SELECT * FROM TBL_VACATION
		WHERE EDOC_NO = #{edocNo}
	</select>
	
	<update id="rollbackVacation" parameterType="Map">
		UPDATE TBL_VACATION_BYYEAR SET
		VAC_LEFT = VAC_LEFT + #{vacCount}
		WHERE EMP_NO = #{empNo}
	</update>
	
	
</mapper>
