<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="work">
	<resultMap type="work" id="workMap">
		<id property="workNo" column="WORK_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="workTypeCode" column="WORK_TYPE_CODE"/>
		<result property="workDay" column="WORK_DAY"/>
		<result property="workStartTime" column="WORK_START_TIME"/>
		<result property="workEndTime" column="WORK_END_TIME"/>
		<result property="workPermit" column="WORK_PERMIT"/>
		<result property="creater" column="CREATER"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="modifier" column="MODIFIER"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="useYN" column="USE_YN"/>
		
		<!-- 다 대 다 관계 -->
		<collection property="workRealtime" ofType="workRealtime" >
			<id property="workNo" column="WORK_NO"/>
			<result property="workLate" column="WORK_LATE"/>
			<result property="workFastEnd" column="WORK_FAST_END"/>
			<result property="workAbsence" column="WORK_ABSENCE"/>
		</collection>
		
	</resultMap>
	
	<!-- <resultMap type="workRealtime" id="workRealtimeMap">
		<id property="workNo" column="WORK_NO"/>
		<result property="workLate" column="WORK_LATE"/>
		<result property="workFastEnd" column="WORK_FAST_END"/>
		<result property="workAbsence" column="WORK_ABSENCE"/>
	</resultMap> -->
	
	<!-- <insert id="workScheduled">
		INSERT INTO TBL_WORK VALUES(SEQ_WORK_NO.NEXTVAL,3,'WOT001',SYSDATE,SYSDATE,NULL,'승인',3,SYSDATE,3,SYSDATE,'Y')
		INSERT INTO TBL_WORK_REALTIME VALUES(SEQ_WORK_NO.NEXTVAL,3,'WOT001',SYSDATE,SYSDATE,NULL,'승인',3,SYSDATE,3,SYSDATE,'Y')
	</insert> -->
	
	<select id="selectCommute" parameterType="_int" resultMap="work.workMap">
		SELECT * FROM TBL_WORK
		WHERE EMP_NO = #{empNo}
		AND TO_CHAR(WORK_DAY, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="selectWorkByEmpNo" parameterType="_int" resultType="String">
		SELECT WORK_START_TIME
		FROM TBL_WORK
		WHERE EMP_NO = #{empNo}
		AND TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<select id="selectWorkByEmpNoEND" parameterType="_int" resultType="String">
		SELECT WORK_END_TIME FROM TBL_WORK
		WHERE EMP_NO = #{empNo}
		AND TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</select>
	
	<!-- 배치처리하기 전의 출근하기 SQL -->
	<!-- <insert id="insertStartWork" parameterType="_int">
		INSERT INTO TBL_WORK VALUES(SEQ_WORK_NO.NEXTVAL,#{empNo},'WOT001',SYSDATE,SYSDATE,NULL,'승인',#{empNo},SYSDATE,#{empNo},SYSDATE,'Y')
	</insert> -->
	
	<!-- 배치처리 -->
	<update id="updateStartWork" parameterType="_int">
		UPDATE TBL_WORK SET
		WORK_DAY = SYSDATE,
		WORK_START_TIME = SYSDATE
		WHERE EMP_NO = #{empNo}
		AND TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</update>
	
	<update id="updateEndWork" parameterType="_int">
		UPDATE TBL_WORK SET
		WORK_END_TIME = SYSDATE
		WHERE EMP_NO = #{empNo}
		AND TO_CHAR(WORK_DAY, 'YYYY-MM-DD') = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
	</update>
	
	<select id="selectWorkListAllByEmp" parameterType="_int" resultMap="work.workMap">
		SELECT * FROM TBL_WORK
		JOIN TBL_WORK_REALTIME USING(WORK_NO)
		WHERE EMP_NO = #{empNo}
		ORDER BY WORK_DAY DESC
	</select>
	
	<select id="avgStartWork" resultType="String">
		SELECT TO_CHAR(TO_DATE('00:00:00', 'HH24:MI:SS') + 
               AVG(TO_NUMBER(TO_CHAR(WORK_START_TIME, 'SSSSS')))/86400, 
               'HH24:MI:SS') 
		FROM TBL_WORK
		WHERE EMP_NO = #{empNo}
	</select>
	
	<select id="avgEndWork" parameterType="_int" resultType="String">
		SELECT TO_CHAR(TO_DATE('00:00:00', 'HH24:MI:SS') + 
               AVG(TO_NUMBER(TO_CHAR(WORK_END_TIME, 'SSSSS')))/86400, 
               'HH24:MI:SS') 
		FROM TBL_WORK
		WHERE EMP_NO = #{empNo}
	</select>
	<select id="lateWork" resultType="_int">
		SELECT COUNT(*) FROM TBL_WORK
		JOIN TBL_WORK_REALTIME USING(WORK_NO)
		WHERE WORK_LATE = 'Y' AND EMP_NO = 1
	</select>
	<select id="fastEnd" resultType="_int">
		SELECT COUNT(*) FROM TBL_WORK
		JOIN TBL_WORK_REALTIME USING(WORK_NO)
		WHERE WORK_FAST_END = 'Y' AND EMP_NO = 1
	</select>
	<select id="absence" resultType="_int">
		SELECT COUNT(*) FROM TBL_WORK
		JOIN TBL_WORK_REALTIME USING(WORK_NO)
		WHERE WORK_ABSENCE = 'Y' AND EMP_NO = 1
	</select>
	<!-- <select id="overWork" resultType="_int">
		SELECT COUNT(*) FROM TBL_WORK
		JOIN TBL_WORK_REALTIME USING(WORK_NO)
		WHERE WORK_OVERWORK = 'N' AND WORK_END_TIME >  AND EMP_NO = 1
	</select> -->
	
	<!-- 주 월 년 -->
	<select id="avgStartWorkFilter" parameterType="Map" resultType="String">
		SELECT TO_CHAR(TO_DATE('00:00:00', 'HH24:MI:SS') + 
               AVG(TO_NUMBER(TO_CHAR(WORK_START_TIME, 'SSSSS')))/86400, 
               'HH24:MI:SS') 
		FROM TBL_WORK
		WHERE EMP_NO = #{param.get("empNo")}
		<if test = "week != null and week != ''">
			AND (SYSDATE - WORK_START_TIME) &lt; #{param.get("week")}
		</if>
	</select>
	
	<select id="avgEndWorkFilter" parameterType="_int" resultType="String">
		SELECT TO_CHAR(TO_DATE('00:00:00', 'HH24:MI:SS') + 
               AVG(TO_NUMBER(TO_CHAR(WORK_END_TIME, 'SSSSS')))/86400, 
               'HH24:MI:SS') 
		FROM TBL_WORK
		WHERE EMP_NO = #{empNo}
	</select>
	<select id="lateWorkFilter" resultType="_int">
		SELECT COUNT(*) FROM TBL_WORK
		JOIN TBL_WORK_REALTIME USING(WORK_NO)
		WHERE WORK_LATE = 'Y' AND EMP_NO = 1
	</select>
	<select id="fastEndFilter" resultType="_int">
		SELECT COUNT(*) FROM TBL_WORK
		JOIN TBL_WORK_REALTIME USING(WORK_NO)
		WHERE WORK_FAST_END = 'Y' AND EMP_NO = 1
	</select>
	<select id="absenceFilter" resultType="_int">
		SELECT COUNT(*) FROM TBL_WORK
		JOIN TBL_WORK_REALTIME USING(WORK_NO)
		WHERE WORK_ABSENCE = 'Y' AND EMP_NO = 1
	</select>
	<!-- <select id="overWork" resultType="_int">
		SELECT COUNT(*) FROM TBL_WORK
		JOIN TBL_WORK_REALTIME USING(WORK_NO)
		WHERE WORK_OVERWORK = 'N' AND WORK_END_TIME >  AND EMP_NO = 1
	</select> -->
	
	
	<!-- 매일 1시에 근태상태 insert -->
	<insert id="insertQuartzWork" parameterType="_int">
		INSERT INTO TBL_WORK VALUES(SEQ_WORK_NO.NEXTVAL,#{empNo},'WOT001',NULL,NULL,NULL,NULL,#{empNo},SYSDATE,#{empNo},SYSDATE,'Y')
	</insert>
	
	
	
	
</mapper>
